name: cov

on: [push, pull_request]

jobs:
  measure_coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - run: |
          pip install -U pip
          pip install .[dev]
          pytest --cov=./errbrac --cov-report=xml

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
