name: nox

on: [push, pull_request]

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run_tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.py }}

      - run: |
          pip install -U pip
          pip install nox
          nox --python "${{ matrix.py }}"
